#main{
    display: flex;
    align-items: center;
    background-color: white;
    min-height: 150px;

  }
  #main img{
    padding-left: 10px;
  }
  .form-inline{
    display: flex;
    align-items: center;
    padding-left: 15%
  }

  .form-inline .form-control{
    width: 500px;
  }
#image1{
  width: 100%;
  
}

#login{
margin-left: 20px;
border-radius: 100px;
height: 60px;
width: 100px;
}

#signup{

margin-right: 200px;
margin-left: 10px;
border-radius: 100px;
height: 60px;
width: 100px;
}

#contact{
height: 60px;
width: 100px;
}


#logo{
  width: 320px;
  margin-right: -100px;
}

.carousel-item{
  height:400px;
}
.c-image{
  height: 100%;
  object-fit: cover;
}
#image1 {
  padding-right: 15px; 
  margin-bottom: 15px; 
  height: 100%;
  
}

.bat,
.football,
.racket {
  height: 70%;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px; 
  margin-right: 30px; 
  border-radius: 10px;
}

.shop-now {
  position: absolute;
  bottom: 160px;
  right: 190px;
}
.shophere{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 15px solid red ;
   
}
