
<link rel="stylesheet" href="style.css">

<div class="container1">
    <div class="box1">
  </div>
    <form  class="formg1"  onsubmit="return validateForm()">
      <div class="mb-3">
        <label for="examplename" class="form-label">Name</label>
        <input type="name" class="form-control1" id="examplename" aria-describedby="name">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control1" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="examplemessage" class="form-label">Message</label>
        <input type="message" class="form-control1" id="examplemessage">
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary1">Submit</button>
    </form>
  </div>

  <script src="/1.js"></script>