
<form action="" method="post">
    Name: <input type="text" value="<%= product.name %>" name="name"/> <br/>
    Price: <input type="text"  name="address" value="<%= product.price %>"/> <br/>
    <input type="submit" value="Edit" /> <br/>
</form>
