
<link rel="stylesheet" href="/style.css">

    <div class="container4">
        <div class="form-container4">
            <h1>Edit Product</h1>
            <form action="" method="post">
                <label for="name">Name:</label>
                <input type="text" value="<%= product.name %>" name="name" id="name"/> <br/>
                <label for="price">Price:</label>
                <input type="text" name="price" value="<%= product.price %>" id="price"/> <br/>
                <input type="submit" value="Edit" /> <br/>
            </form>
        </div>
    </div>

