
    <section id="product" id="section-p2">
        <div class="img2">
            <img src="images/racket.jpg">
        </div>
        <div class="pro-details">
            <h6>Home / Racket</h6>
            <h4>Racket</h4>
            <h2>Rs. 10,000</h2>
            <label for="quantityInput">Enter Quantity:</label>
            <input type="number" value="1">
            <button class="btn btn-primary">Add To Cart</button>
            <br> </br>
            <h4>Product Details</h4>
            <span>"Unleash your full potential on the court with our premium rackets! Engineered with cutting-edge technology and expert craftsmanship, our rackets are designed to maximize power, control, and comfort. From beginners to seasoned pros, our rackets cater to all skill levels and playing styles, offering unparalleled performance and reliability. With superior grip and maneuverability, you'll feel confident and in control with every swing. Elevate your game and dominate the competition with our exceptional rackets!"</span>
        </div>
    </section>

