#main{
    display: flex;
    align-items: center;
    background-color: bisque;
    min-height: 100px;

  }
  #main img{
    padding-left: 20px;
  }
  .form-inline{
    display: flex;
    align-items: center;
    padding-left: 45%
  }

  .form-inline .form-control{
    width: 500px;
  }
 #image1{
  height: 70%;
 }
 #image2{
  height: 80%;
  padding-left: 30%;
 }