
<link rel="stylesheet" href="/style.css"/>

<div class="container mt-5" id = "form">

    <div id = 'main'>
    <form id="createForm">
        <div class="form-group">
            <label for="createTitle" id = 'name'>Name:</label>
            <input type="text" class="form-control" id="createTitle">
        </div>
        <div class="form-group">
            <label for="createContent" id = 'review'>Review:</label>
            <textarea class="form-control" id="createContent" rows="3"></textarea>
        </div>
        <button id="createBtn" type="submit" class="btn btn-primary">Create</button>
        <button id="clearBtn" type="submit" class="btn btn-primary" style="display: none;">Clear</button>
    </form>
</div>

    <hr>

    <div id="storiesList"></div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="/1.js"></script>