<link rel="stylesheet" href="/style.css">
    <section id="product" id="section-p2">
        <div class="img3">
            <img src="images/football.jpg">
        </div>
        <div class="pro-details1">
            <h6>Home / Football</h6>
            <h4>Football</h4>
            <h2>Rs. 5000</h2>
            <label for="quantityInput">Enter Quantity:</label>
            <input type="number" value="1">
            <button id="btn3" class="btn btn-primary">Add To Cart</button>
            <br> </br>
            <h4>Product Details</h4>
            <span>"Experience the thrill of the gridiron with our high-quality footballs! Crafted with precision and durability in mind, our footballs are designed to deliver optimal performance on the field. Whether you're a seasoned athlete or just starting out, our footballs offer superior grip, aerodynamics, and durability, ensuring every pass and kick feels effortless and accurate. Elevate your game and dominate the field with our top-of-the-line footballs!"</span>