<link rel="stylesheet" href="/style.css">
   <section id="product" id="section-p2">
        <div class="img3">
            <img src="images/bat.jpg">
        </div>
        <div class="pro-details1">
            <h6>Home / Bat</h6>
            <h4>Cricket Bat</h4>
            <h2>Rs. 8000</h2>
            <label for="quantityInput">Enter Quantity:</label>
            <input type="number" value="1">
            <button id="btn3"  class="btn btn-primary">Add To Cart</button>
            <br> </br>
            <h4>Product Details</h4>
            <span>"Introducing the ultimate cricket bat: a precision-crafted instrument designed for maximum performance on the pitch. Made from premium willow wood, our bat features a balanced blade for powerful strokes and reinforced edges for boundary-hitting capability. With a comfortable rubber grip and sturdy handle, it offers superior control and precision for every shot. Elevate your game with our cricket bat where tradition meets innovation for unbeatable performance!"</span>