<link rel="stylesheet" href="/style.css"/>

<section class="home">
  <div class="form Signup-form">
    <form id="signupForm" action="/signup" method="post">
      <h2>Sign Up</h2>
      <div class="mb-3 inputbox">
        <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter Your Name" required>
      </div>
      <div class="mb-3 inputbox">
        <input type="text" name="Email" class="form-control" id="exampleInputEmail" placeholder="Enter Your Email" required>
      </div>
      <div class="mb-3 inputbox">
        <input type="password" name="password" class="form-control" id="exampleInputPass" placeholder="Enter Your Password" required>
      </div>
      <div class="mb-3 inputbox">
        <label for="exampleInputRole">Role:</label>
        <select name="role" class="form-control" id="exampleInputRole" required>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="opt-field">
        <span class="checkbox">
          <input type="checkbox" id="check">
          <label for="check">Remember me</label>
        </span>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary button">Sign Up</button>
      </div>
    </form>
  </div>
</section>
